@import "~normalize.css";
@import "roboto.css";
.container {
    padding-top: 2rem;
    max-width: 1000px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

h1 {
    text-align: center;
}
.logo{
    background-image: url("../assets/testImg.jpg");
    background-size: cover;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}